*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Verdana';
}

header{
    background: #FFD900;
    padding: 1rem 1rem 1rem 3rem;
}

section{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    width: 100%;
}


/**/
.card_1{
    background:  #514988;
    padding: 15px;
    margin-right: -15px;
}
.card_1 h1 {
    color: #F3C61F;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 85px;

}
.card_1 h3 {
    color: #FFFFFF;
    margin-bottom: 2rem;
}
.card_1 p {
    color:  #FFFFFF;
    font-family: 'Verdana';
    font-style: normal;
    font-size: 20   px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
}

/**/
.card_2{
    padding: 1rem 1rem 1rem 0rem;
}
.card_2 p {
    color:#514988;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 85px;
    padding: 0rem 2.2rem;
   
}
.card_2 h3 {
    color:#E33881;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

}
.coutdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video{
    width: 45rem;
}

/**/
.card_3{
    display: grid;
    grid-auto-flow: column;
    margin-top: 1.2rem;
    padding: 1rem;
}
.card_3 h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 33px;
    color: #F3C61F;
    text-align: center;
}
.card_3 .ingresso {
    display: flex;
    padding: 1rem;
    justify-content: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 138px;
}
.btn button {
    font-family: 'Verdana';
    font-size: 27px;
    color: #FFFFFF;
    width: 425px;
    height: 129px;
    background: #514988;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    color: #FFFFFF;
    border: 1px, solid,#514988;
    border-radius: 20px;
}
.btn button:hover{
    background: #FFD900;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}